<main class="container">
  <h2>Activity list</h2>
  <div class="main-content-wrpper">
    <div class="timeline-line">
      <div class="add-acivity-wrapper">
        <div class="timeline-marker">
          <mat-icon>menu</mat-icon>
        </div>
        <app-activity-card></app-activity-card>
      </div>
      @for (activity of activities; track activity.id) {
      <div class="activity-card">
        <div class="time-line-wrapper">
          <p>{{ getRelativeTime(activity.createdAt) }}</p>
          <div class="timeline-marker">
            <mat-icon>{{ activity.icon }}</mat-icon>
          </div>
        </div>
        <app-activity-item [activity]="activity" (delete)="deleteActivity(activity.id)"></app-activity-item>
      </div>
      }
    </div>
  </div>
</main>