//COLOR VARIABLES

$white-color: #ffffff;
$green-shade: #38d9a9;
$off-white: #fbfbfb;
$light-gray: #cccccc;
$pale-gray: #ebebeb;
$medium-gray: #888888;
$red-shade: #e74c3c;
$light-gray-tint: #e2e2e2;
$red-shade-2: #c0392b;
$dark-gray: #333333;
